/* FONT */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    background-color: brown;
}

#canvas {
    border: 1px solid black;
}

.menu {
    display: block;
    position: relative;
    height: 600px;
    width: 800px;
    margin: 0 auto;
}


/*  BUTTONS */
button {
    position: absolute;
    background-color: grey;
    border: 1px solid black;
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
}

#start-button {
    padding: 25px 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#retry-button {
    padding: 25px 120px;
    top: 60%;
    left: 50%;
    transform: translate(-50%);
    display: none;
}

#help-button {
    padding: 10px 20px;
    bottom: 20px;
    left: 20px;
}

#sfx-button, #music-button {
    border: 2px solid #C54B4B;
    background-color: rgba(0, 0, 0, 0);
    color: #C54B4B;
}

#sfx-button {
    bottom: 20px;
    right: 20px;
}

#music-button {
    bottom: 20px;
    right: 100px;
}

/* CONGRATULATION SCREEN TEXT*/
#endgame-header, #endgame-text {
    display: none;
    position: absolute;
    font-family: 'MedievalSharp', cursive;
}

#endgame-header {
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

#endgame-text {
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}

.title {
    font-size: 3em;
    font-weight: 700;
    font-family: 'MedievalSharp', cursive;
    display: block;
    text-align: center;
}
